html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.card {
    height: 45em;
    border-radius: 2em;
    margin: 3em;
    padding: 3em;
    background-image: linear-gradient(rgb(250, 168, 225), rgb(235, 235, 152));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.3s ease, width 0.3s ease;
    box-shadow: 2px 2px 3px rgba(160, 72, 123, 0.3);
    width: 30em;

}

.card:hover {
    height: 46em;
    width: 90%;
    box-shadow: 10px 10px 15px rgba(160, 72, 123, 0.3);
}

.images {
    height: 20em;
    margin: 1em;
    position: relative;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: fill;
}

.active {
    opacity: 0;
}

.card:hover .nonactive {
    opacity: 0;
}

.card:hover .active {
    height: 80%;
    opacity: 1;

}

h1 {
    font-size: 3em;
}

button {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 2em 0;
    background-color: rgb(255, 255, 255);
    padding: 1.5em 3em;
    border: none;
    border-radius: 1em;
}

button:hover {
    background-color: rgb(222, 236, 255);
}

nav {
    display: flex;
    justify-content: center;
}


.two {
    background-image: linear-gradient(rgb(223, 142, 174), rgb(140, 193, 228));
}

.three {
    background-image: linear-gradient(rgb(125, 219, 207), rgb(162, 209, 134));
}

nav > button {
    border-style: none solid;
    border-width: 0.1px;
    border-color: rgb(165, 165, 165)
}

-------Dark MODE------



body.dark-mode {
    background-color: #1C1C1C
}

body.dark-mode {
    background-color: #1C1C1C;
}

body.dark-mode .card.one {
    background-image: linear-gradient(rgb(66, 16, 50), rgb(114, 93, 24));
}

body.dark-mode .card.two {
    background-image: linear-gradient(rgb(122, 26, 63), rgb(18, 70, 105));
}

body.dark-mode .card.three {
    background-image: linear-gradient(rgb(16, 99, 88), rgb(37, 82, 10));
}

body.dark-mode .card {
    color: #f5f5f5;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

body.dark-mode button {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

body.dark-mode button:hover {
    background-color: #2a2a2a;
}
